:root { 
   /*variable for colour theme used across the page  */
  --background: #220070;
  --button-background: #450EFF;
  --two: #E200F7;
  --text-main: #FF901B;
  --four: #FF321A;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  /* padding: 10px; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-main)
}

/* Styles for the page header */
header {
  background-color: var(--button-background);
}
/* aligns title and avatar together */
#avatar-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* circular avatar image */
header img {
  border-radius: 200px;
  height: 75px;
  margin: 20px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: var(--text-main);
  background-color: var(--background);
  padding: 8px;
  margin: 10px;
  border-radius: 20px;
}

.hero-banner {
  display: none;
}

 /* styles for each section of the main page*/
 .page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#contact .section-content a {
  padding: 5px;
  margin: 5px;
}

.page-section h2 {
  border-bottom: solid 3px var(--two);
}

.section-content {
  color: var(--text-main);
}

.section-content a {
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  color: var(--text-main);
  text-decoration: underline;
}

#app-grid {
  display: flex;
  flex-direction: column;
  /* padding: 5px; */
}

.grid-box {
  display: flex;
  border: solid 1px var(--two);
  margin: 5px;
  border-radius: 20px;
}

#headline-app {
  background-image: url("../assets/pre-work-screenshot.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#second-app {
  background-image: url("../assets/retinentia-screenshot.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#third-app {
  background-image: url("../assets/book-club-screenshot.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#fourth-app {
  background-image: url("../assets/calculator.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#fifth-app {
  background-image: url("../assets/puzzle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

 /* App title styles */
 #app-grid a {
  position: relative;
  bottom: -20px;
  left: -20px;
  padding: 10px;
  align-self: flex-end;
  background-color: var(--button-background);
  border-radius: 0px 20px 0px 19px;
}

#contact .section-content {
  display: flex;
  flex-direction: column;
}








/* For larger screen */
@media screen and (min-width: 768px) {
  body {
    background-color: var(--background);
  }

  /* Align title and nav bar across the top of the page */
  header {
    display: flex;
    justify-content: space-between;
    background-color: var(--button-background);
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

    /* styles for the links in the nav bar */
  nav a {
    margin: 10px;
    padding: 5px 10px 5px 10px;
    color: var(--text-main);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--background);
    border-radius: 20px;
    height: 30%;
  }

/* red shadow on hover over nav bar anchors */
  nav a:hover {
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.7);
  }


/* banner */
.hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20vh;
  background: rgb(69,14,255);
  background: linear-gradient(180deg, rgba(69,14,255,1) 0%, rgba(34,0,112,1) 100%);
}

.hero-banner h2 {
  padding: 20px;
  font-weight: bold;
}

/* portfolio grid setup */
  #app-grid {
    display: grid;
    grid-template-columns: 1Fr 1Fr;
    grid-template-rows: 1Fr 1Fr 1Fr;
    grid-template-areas: 
    "main main"
    "two three"
    "four five"
    ;
    margin: 20px;
    padding: 20px;
    width: 100%;
    
  }

  /* grid box areas and background images */
  #headline-app {
    grid-area: main;
    background-image: none;
  }

  #headline-app::before {
    background-image: url("../assets/pre-work-screenshot.png");
  }

  #second-app {
    grid-area: two;
    background-image: none;
  }

  #second-app::before {
    background-image: url("../assets//retinentia-screenshot.png");
  }

  #third-app {
    grid-area: three;
    background-image: none;
  }

  #third-app::before {
    background-image: url("../assets/book-club-screenshot.png");
  }

  #fourth-app {
    grid-area: four;
    background-image: none;
  }

  #fourth-app::before {
    background-image: url("../assets/calculator.png");
  }

  #fifth-app {
    grid-area: five;
    background-image: none;
  }

  #fifth-app::before {
    background-image: url("../assets/puzzle.jpg");
  }

/* universal stylings for grid boxes */

  .grid-box {
   display: flex;
   margin: 5px;
   border: solid 5px var(--two);
   height: 200px;
   position: relative;
   border-radius: 0px;
  }

  /* positions background image in the grid box with 
    an animation on hover to increase image opacity */
  .grid-box::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    opacity: 0.5;
    transition: opacity 500ms;
  }

  .grid-box:hover::before {
    opacity: 1;
  }

  /* App title styles */
  #app-grid a {
    border-radius: 0px 20px 0px 0px;
  }

  .page-section {
    display: flex;
    flex-grow: 1;
    /* justify-content: flex-start; */
    align-items: center;
    margin: 10px;
  }

  .page-section h2 {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-right: solid 5px var(--two);
    border-bottom: none;
    min-width: 200px;
  }

  .section-content {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
  }

  .section-content p {
    padding: 20px;
    margin: 20px;
  }

  #contact .section-content {
    flex-direction: row;
    margin: 20px;
    padding: 20px;
  }

}