:root { 
   /*variable for colour theme used across the page  */
  --background: #220070;
  --button-background: #450EFF;
  --two: #E200F7;
  --text-main: #FF901B;
  --four: #FF321A;
}

* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-main)
}

p {
  margin: 0;
}

nav {
  /* To add mobile nav bar */
}

#contact li {
  text-decoration: none;
}

/* For larger screen */
@media screen and (min-width: 650px) {
  body {
    background-color: var(--background);
  }

  /* Align title and nav bar across the top of the page */
  header {
    display: flex;
    justify-content: space-between;
  }
  
  /* circular avatar image */
  header img {
    border-radius: 200px;
    height: 75px;
    margin: 20px;
  }

  /* aligns title and avatar together */
  #avatar-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

/* styles for the links in the nav bar */
  nav a {
    margin: 10px;
    padding: 5px 10px 5px 10px;
    color: var(--text-main);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--button-background);
    border-radius: 20px;
    height: 30%;
  }

  /* red shadow on hover over nav bar anchors */
  nav a:hover {
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.7);
  }

  .page-wrapper {
    display: flex;
    flex-direction: column;
  }

  #contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #contact-content {
    
  }

}